!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Tioga'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Tioga'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    = javascript_include_tag "bundle"
  %body
    .container
      %header
        = render 'layouts/navigation'
      %main{:class => "row", :role => "main"}
        = render 'layouts/messages'
        = yield
    = render "layouts/github"
